<%- include("partials/header") %>
    <h1>Sign In</h1>
    <form action="/sign-in" method="post">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="password" name="password" id="" placeholder="Password">
        <button>Sign In</button>
    </form>
<%- include("partials/header") %>